<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/produtos.css" >
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <header>The Header</header>
        <nav>
          <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./produtos.html">Produtos</a></li>
            <li><a href="">Nav 3</a></li>
          </ul>
        </nav>
        <main>
            <ul class="navigation">
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>Nave espacial</figcaption>
                    <img src="./img/nave.jpg" alt="nave" />
                  </figure>
                </li>
              </ul>  
        </main>
        <aside>Aside</aside>
        <div class="propaganda">
          <figure>
            <figcaption>Nave</figcaption>
            <img src="./img/nave.jpg" alt="nave">
          </figure>
        </div>
        <footer>The footer</footer>
    </div>

</body>
</html>